<!DOCTYPE html>
<html>  @* lang="pt-br" *@
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Store Stock System </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/ColorsAndBase.css" />
    <link rel="stylesheet" href="~/css/Login.css" />
</head>
<body>
    <main class="login__main">
        <div class="container login__box">
            @RenderBody()
        </div>
    </main>
  

    <footer class="border-top login__footer d-flex">
        <div class="container d-flex justify-content-center align-items-center">
            <p class="login__footer-text ">&copy; 2022 - StockManage - Desenvolvido por <a href="https://ascdevs.github.io/" target="_blank">Alexandre Santos</a></p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
