@{
    Layout = "_LayoutContent";
    ViewData["Title"] = "Admin";
}

<div class="content__menu-container">
    <span class="content__menu-top">
        <i class="uil uil-box content__menu-logo"></i>
        <h5>StockManage</h5>
    </span>

    <nav class="mt-5 content__menu-nav">
        <ul >
            <li><a href="#"><i class="uil uil-estate content__menu-icon"></i>Home</a></li>
            <li><a href="#"><i class="uil uil-shopping-bag content__menu-icon"></i>Produtos</a></li>
            <li><a href="#"><i class="uil uil-align-left content__menu-icon"></i>Categorias</a></li>
        </ul>
    </nav>
</div>
<div class="content__data-container">Conteúdo/div>
