@{
    Layout = "_LayoutContent";
    ViewData["Title"] = "Home";
}


<div class="home__content-principal" style="background-color: beige;">
    Página Principal
    <button id="btn-test" class="btn btn-primary" type="button">testar</button>
</div>

@* @section scripts{ *@
    <script>
       if(typeof($) == 'function'){
           alert("jQuery loaded")
       }
    </script>

