@{
    ViewData["Title"] = "Login";
}

<div class="login__entrada grid">
    <div class="login__banner">

    </div>

    <div class="login__area">
        <h4 class="login__title mb-4">Faça login</h4>

        <form action="">
            <div class="login__input-area mb-3">
                <label for="username" class="login__label form-label">Usuário</label>
                <input id="username" type="text" class="login__input form-control">
            </div>

            <div class="login__input-area mb-3">
                <label for="password" class="login__label form-label">Senha</label>
                <input id="password" type="text" class="login__input form-control">
            </div>

            <button type="submit" class="login__button btn btn-primary">Acessar</button>
        </form>

    </div>

</div>

<div class="login__cadastro">
    <p>Área de Cadastro de Usuário</p>
</div>